In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
load_data_201811 = "data/201811-citibike-tripdata.csv"
load_data_201812 = "data/201812-citibike-tripdata.csv"
load_data_201901 = "data/201901-citibike-tripdata.csv"
load_data_201902 = "data/201902-citibike-tripdata.csv"
load_data_201903 = "data/201903-citibike-tripdata.csv"
load_data_201904 = "data/201904-citibike-tripdata.csv"
load_data_201905 = "data/201905-citibike-tripdata.csv"
load_data_201906 = "data/201906-citibike-tripdata.csv"
load_data_201907 = "data/201907-citibike-tripdata.csv"
load_data_201908 = "data/201908-citibike-tripdata.csv"
load_data_201909 = "data/201909-citibike-tripdata.csv"
load_data_201910 = "data/201910-citibike-tripdata.csv"

# Read the City and Ride Data
df_201811 = pd.read_csv(load_data_201811)
df_201812 = pd.read_csv(load_data_201812)
df_201901 = pd.read_csv(load_data_201901)
df_201902 = pd.read_csv(load_data_201902)
df_201903 = pd.read_csv(load_data_201903)
df_201904 = pd.read_csv(load_data_201904)
df_201905 = pd.read_csv(load_data_201905)
df_201906 = pd.read_csv(load_data_201906)
df_201907 = pd.read_csv(load_data_201907)
df_201908 = pd.read_csv(load_data_201908)
df_201909 = pd.read_csv(load_data_201909)
df_201910 = pd.read_csv(load_data_201910)

In [2]:
result = pd.concat([df_201811,df_201812,df_201901,df_201902,df_201903,df_201904,df_201905,
                    df_201906,df_201907,df_201908,df_201909,df_201910], axis=0, join='outer', ignore_index=False)

In [3]:
result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2018-11-01 00:00:12.9100,2018-11-01 00:04:27.3870,3522.0,37 St & 24 Ave,40.770148,-73.912094,3513.0,21 St & Hoyt Ave S,40.774645,-73.923706,34117,Subscriber,1992,1
1,833,2018-11-01 00:00:16.3440,2018-11-01 00:14:09.4320,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,251.0,Mott St & Prince St,40.723180,-73.994800,32569,Subscriber,1986,2
2,683,2018-11-01 00:00:17.6630,2018-11-01 00:11:40.9170,3405.0,5 St & 6 Ave,40.670484,-73.982090,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,15795,Subscriber,1985,1
3,1840,2018-11-01 00:00:18.7970,2018-11-01 00:30:59.3050,3150.0,E 85 St & York Ave,40.775369,-73.948034,297.0,E 15 St & 3 Ave,40.734232,-73.986923,33290,Subscriber,1994,1
4,1212,2018-11-01 00:00:47.3230,2018-11-01 00:20:59.8840,325.0,E 19 St & 3 Ave,40.736245,-73.984738,212.0,W 16 St & The High Line,40.743349,-74.006818,17411,Subscriber,1989,1

In [10]:
result.loc[result['gender'] == 2,["gender"]] = 'Female'

In [6]:
result.loc[result['gender']==1, ['gender']] = 'male'

In [9]:
result.loc[result['gender'] == 0,["gender"]] = 'Unknown'

In [11]:
result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2018-11-01 00:00:12.9100,2018-11-01 00:04:27.3870,3522.0,37 St & 24 Ave,40.770148,-73.912094,3513.0,21 St & Hoyt Ave S,40.774645,-73.923706,34117,Subscriber,1992,male
1,833,2018-11-01 00:00:16.3440,2018-11-01 00:14:09.4320,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,251.0,Mott St & Prince St,40.723180,-73.994800,32569,Subscriber,1986,Female
2,683,2018-11-01 00:00:17.6630,2018-11-01 00:11:40.9170,3405.0,5 St & 6 Ave,40.670484,-73.982090,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,15795,Subscriber,1985,male
3,1840,2018-11-01 00:00:18.7970,2018-11-01 00:30:59.3050,3150.0,E 85 St & York Ave,40.775369,-73.948034,297.0,E 15 St & 3 Ave,40.734232,-73.986923,33290,Subscriber,1994,male
4,1212,2018-11-01 00:00:47.3230,2018-11-01 00:20:59.8840,325.0,E 19 St & 3 Ave,40.736245,-73.984738,212.0,W 16 St & The High Line,40.743349,-74.006818,17411,Subscriber,1989,male

In [12]:
# # results = result.DataFrame({'starttime': pd.date_range('2016-1-1 15:00', periods=5)})
# result['starttime'] = [result.date() for d in result['my_timestamp']]
# df['new_time'] = [d.time() for d in df['my_timestamp']]

In [13]:
result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2018-11-01,2018-11-01 00:04:27.3870,3522.0,37 St & 24 Ave,40.770148,-73.912094,3513.0,21 St & Hoyt Ave S,40.774645,-73.923706,34117,Subscriber,1992,male
1,833,2018-11-01,2018-11-01 00:14:09.4320,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,251.0,Mott St & Prince St,40.723180,-73.994800,32569,Subscriber,1986,Female
2,683,2018-11-01,2018-11-01 00:11:40.9170,3405.0,5 St & 6 Ave,40.670484,-73.982090,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,15795,Subscriber,1985,male
3,1840,2018-11-01,2018-11-01 00:30:59.3050,3150.0,E 85 St & York Ave,40.775369,-73.948034,297.0,E 15 St & 3 Ave,40.734232,-73.986923,33290,Subscriber,1994,male
4,1212,2018-11-01,2018-11-01 00:20:59.8840,325.0,E 19 St & 3 Ave,40.736245,-73.984738,212.0,W 16 St & The High Line,40.743349,-74.006818,17411,Subscriber,1989,male

In [15]:
result.to_csv("combined_citibike_data.csv", header=True, index=False)